

.skeduler-container-main{
  /* margin-left: 20%; */
  /* width: 60%; */
  /* left: 15.1%; */

  /* -webkit-transform:scale(0.9); */
  /* position: relative; */
}

.skeduler-container {
    /* margin: 50px 0 0 100px; */
    /* top: 35vw; */
    left: 0;
    right: 0;
    position: relative;
    overflow: scroll;
    margin: auto;
    width: 100%;
    /*padding-left: 4vw;
    /* padding-left: 13vw;
    padding-right: 13vw; */
    background-color: white;
    /* transform:scale(0.7); */
  }


 
  .revealSchedBtn{
    position: relative;
    /* top: 33.71vw; */
    width: 100%;
  }
  .schedContainer{
    /* top: 30vw;
    position: absolute;
    border: 2vh red; */
  }

  .classInfo{
    left: 0;
    width: 20%;
    min-width: 20%;
    max-width: 20%;
    position: relative;
    width: 25vw;
    border: .02vw solid black;
  }

