body {
  font-family: Arial;
}


.content {
  display: flex;
  flex-direction: column;
  row-gap: 0px;
  justify-content: space-between;

}
.content-main {
  margin-top: 25px;
  display: flex;
  
  transition: all 200ms ease-in-out;



}


.search-parameters-container {
  flex:1;
}

.classes-list-containter {
  display: grid;
  grid-template-columns: 60vw;
  
  margin-right: auto;
  margin-left: auto;

  overflow-y: scroll;
  max-height: 85vh;

  transition: all 200ms ease-in-out;

}

.text-input {
  display: block;
  margin: auto;
}

.section-display {
  position: relative;
  display: flex;
  flex-direction: column;
  border-width: 1px;
  border-style: solid;
  margin-bottom: 25px;
  padding-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: rgb(238, 238, 247);
  max-width: 100vw;
  min-width: none;
  transition: all 200ms ease-in-out;

}

.section-display:hover{
  cursor: pointer;
}

.section-middle-display {
  flex:2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 20px;
  padding-right: 8px;
  padding-top: 10px;
}

.section-middle-text-display {

}


.section-hours-text,
.professor-name-text,
.subject-courseNumber-text,
.course-title-text {
  text-align: center;
  margin-top: 7px;
  margin-bottom: 7px;
}

.course-title-text{
  font-size: x-large;
}
.subject-courseNumber-text {
  font-size: medium;
}
.professor-name-text,
.section-hours-text {
  font-size: small;
}

.section-middle-week-display {
  display:flex;
  width: 30%; 
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  justify-content: center;
}


.weekday-box-display {
  border-width: 1px;
  border-style: solid;
  padding-left: 5px;
  padding-right: 5px;
  background-color: white;



}
.weekday-box-text {
  text-align: center;
  margin-bottom: 3px;
  margin-top: 3px;

}



.section-right-display {
  flex:1;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;

}

.attributes-display{

}

.occupancy-title-text,
.attributes-title-text {
  text-align: center;

  font-size: small;
  margin-top: 8px;
  margin-bottom: 3px;

}

.occupancy-info-text,
.attribute-text {
  text-align: center;
  font-size: small;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: x-small;
}


.attributes-list-display{
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  justify-content: center;
}


.occupancy-display {


}

.occupancy-info-text{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.class_on_this_day_weekday_color {

  background-color: green;
}

.save-button {
  position: absolute;
  top: 10px;
  right: 10px;


  /*Look like save ribbon*/
  border-left: 15px solid rgb(202, 202, 251);
  border-right: 15px solid rgb(202, 202, 251);
  border-top: 15px solid rgb(202, 202, 251);
  border-bottom: 15px solid transparent; /*Creates triangle cut out at bottom of ribbon*/
  height: 15px;

}

.save-button:hover {
  cursor: pointer;

}

