body {
  font-family: Arial;
}


.content {
  display: flex;
  flex-direction: column;
  row-gap: 15px;

}

.search-parameters-container {
  flex:1;
}

.classes-list-containter {
  flex:1;
  display: grid;
  grid-template-columns: 1fr;
  margin-right: 300px;
  margin-left: 300px;

}

.text-input {
  display: block;
  margin: auto;
}

.section-display {
  display: flex;
  flex-direction: column;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  margin-bottom: 25px;
  padding-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;


}

.section-middle-display {
  flex:2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 20px;
  padding-right: 8px;
  padding-top: 30px;
}

.section-middle-text-display {

}


.section-hours-text,
.professor-name-text,
.subject-courseNumber-text,
.course-title-text {
  text-align: center;
  margin-top: 7px;
  margin-bottom: 7px;
}

.course-title-text{
  font-size: large;
}

.professor-name-text,
.section-hours-text {
  font-size: small;
}

.section-middle-week-display {
  display:flex;
  width: 30%; 
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  justify-content: center;
}


.weekday-box-display {
  border-width: 1px;
  border-style: solid;
  padding-left: 5px;
  padding-right: 5px;



}
.weekday-box-text {
  text-align: center;
  margin-bottom: 3px;
  margin-top: 3px;

}



.section-right-display {
  flex:1;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 5px;
  margin-right: 5px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;

}

.attributes-display{

}

.occupancy-title-text,
.attributes-title-text {
  text-align: center;
  border: 0px;
  border-bottom: 1px;
  border-style: solid;

}

.occupancy-info-text,
.attribute-text {
  text-align: center;
  font-size: small;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: x-small;
}


.attributes-list-display{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}


.occupancy-display {


}

.occupancy-info-text{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.class_on_this_day_weekday_color {

  background-color: green;
}