.content {
  display: flex;
  flex-direction: column;
  row-gap: 15px;

}

.search-parameters-container {
  flex:1;
}

.classes-list-containter {
  flex:1;

}

.text-input {
  display: block;
  margin: auto;
}

.section-display {
  text-align: center;
  border-width: 1px;
  border-style: solid;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-radius: 5px;

}